*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif ;
}
.promo{
    height: 800px;
    background: url(../img/bg/bg_1.jpg) center center/cover no-repeat;
    padding: 39px 0 62px 0;
}
.container{
    position: relative;
    width: 1149px;
    margin: 0 auto;
}
.logo .logo_img{
    display: block;
    margin: 0 auto;
}
.logo .logo_text{
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}
h1{
    margin-top: 53px;
}

.title{
    color: #F9BF3B;
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}
h2.title{
    margin-top: 30px;
}
.simple .title_big{
    color: #fff;
    font-weight: 900;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}
.promo .promo_text{
    padding: 0 13px;
    margin-top: 23px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
}
.promo .promo_text span{
    color : #F9BF3B;
    font-weight: bold;
}
.promo .promo_btn, .gift .gift_btn{
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}
.gift .gift_btn{
    margin-top: 45px;
}
.more{
    margin-top: 73px;
}
.more .more_text{
    color : #fff;
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}
.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting{
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}
.waiting .waiting_header, .finish .finish_header{
    color: #252525;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.finish .finish_header{
    color: #fff
}
.waiting .waiting_divider, .finish .finish_divider{
    width: 217px;
    height: 4px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}
.waiting .waiting_subheader{
    color: #4A4A4A;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    margin-top: 18px;
}
.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 70%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 33px;
    color: #4A4A4A;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
}
.optim{
    min-height: 550px;
    padding: 102px 0 108px 0;
}
.optim .optim_header{
    color: #299CBD;
    margin-left: 391px;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}
.optim .optim_text{
    margin-top: 25px;
    margin-left: 391px;
    color: #4A4A4A;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
}
.optim .optim_text span{
    font-weight: bold;
}
.optim .optim_img{
    height: 700px;
    position: absolute;
    top: -102px;
    left: -400px;
    z-index: -1;
}
.finish{
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url(../img/bg/bg_3.jpg) center center/cover no-repeat
}
.finish .finish_wrapper{
    margin: 0 auto;
    margin-top: 41px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.finish .finish_wrapper .finish_item{
    width: 204px;
}
.finish .finish_wrapper .finish_item .finish_round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #B4E2FF;
    width: 118px;
    height: 118px;
    border-radius: 100%;
}
.finish .finish_wrapper .finish_item .finish_descr{
    color: #EFEFEF;
    margin-top: 25px;
    text-align: center;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
}
.gift{
    min-height: 630px;
    padding: 88px 0 87px 0;    
    background-color: #efefef;
}
.gift .gift_img{
    display: block;
    margin: 0 auto;
}
.gift .gift_descr{
    margin-top: 45px;
    color: #252525;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
}
.first {
    min-height: 515px;
    padding: 89px 0 64px 0;
}
.first .first_img {
    display: block;
    margin: 0 auto;
}
.first .first_text {
    margin-top: 37px;
    color: #252525;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
.first .date {
    margin-top: 30px;
    color: #299cbd;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.first .first_subtitle{
    margin-top: 25px;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
}
footer {
    min-height: 166px;
    background-color: #1a1a1a;
    padding: 61px 0 69px 0;
}
.info {
    margin: 0 auto;
    width: 377px;
    text-align: center;
    color: #888888;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}
footer a {
    color: #888888;;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-decoration: none;
}
.underlined {
    text-decoration: underline;
}